:root {
	--heo-white:#fff;
	--heo-black:#000;
	--heo-none:rgba(0,0,0,0);
	--heo-gray:#999999;
	--heo-yellow:#ffc93e;
	--heo-main:#007AFF;
	--heo-shadow-blue:0 8px 12px -3px rgba(40,109,234,.20);
	--heo-shadow-white:0 8px 12px -3px rgba(255,255,255,.20);
	--heo-shadow-black:0 0 12px 4px rgba(0,0,0,.05);
	--heo-shadow-yellow:0px 38px 77px -26px rgba(255,201,62,.12);
	--heo-shadow-pink:0 8px 12px -3px #ee7d7936;
	--heo-logo-color:linear-gradient(215deg,#4584ff 30%,#ff7676 70%)
}
::selection {
	background:var(--heo-blue);
	color:var(--heo-white)
}
[data-theme=light] {
	--heo-theme:#425AEF;
	--heo-blue:#425AEF;
	--heo-red:#D8213C;
	--heo-green:#008200;
	--heo-fontcolor:#363636;
	--heo-background:#f7f9fe;
	--heo-reverse:#000;
	--heo-maskbg:rgba(255,255,255,0.6);
	--heo-hovertext:#5374ff;
	--heo-ahoverbg:#F7F7FA;
	--heo-lighttext:#ef794f;
	--heo-secondtext:rgba(60,60,67,0.6);
	--heo-scrollbar:rgba(60,60,67,0.4);
	--heo-card-btn-bg:#f1f2f2;
	--heo-post-blockquote-bg:#fafcff;
	--heo-post-tabs-bg:#f2f5f8;
	--heo-secondbg:#ededed;
	--heo-shadow-nav:0 5px 12px -5px rgba(102,68,68,0.05);
	--heo-card-bg:#fff;
	--heo-shadow-lightblack:0 5px 12px -5px rgba(102,68,68,0.00);
	--heo-shadow-light2black:0 5px 12px -5px rgba(102,68,68,0.00)
}
[data-theme=dark] {
	--heo-theme:#0084FF;
	--heo-blue:#0084FF;
	--heo-red:#FF3842;
	--heo-green:#00FF00;
	--heo-fontcolor:#F7F7FA;
	--heo-background:#18171d;
	--heo-reverse:#fff;
	--heo-maskbg:rgba(0,0,0,0.6);
	--heo-hovertext:#0A84FF;
	--heo-ahoverbg:#fff;
	--heo-lighttext:#f2b94b;
	--heo-secondtext:#a1a2b8;
	--heo-scrollbar:rgba(200,200,223,0.4);
	--heo-card-btn-bg:#2e2d38;
	--heo-post-blockquote-bg:#000;
	--heo-post-tabs-bg:#121212;
	--heo-secondbg:#30343f;
	--heo-shadow-nav:0 5px 20px 0px rgba(28,28,28,0.4);
	--heo-card-bg:#1d1b26;
	--heo-shadow-lightblack:0 5px 12px -5px rgba(102,68,68,0.0);
	--heo-shadow-light2black:0 5px 12px -5px rgba(102,68,68,0.0)
}
#page {
	min-height:calc(100vh - 464px)
}
::-webkit-scrollbar {
	width:6px;
	height:6px
}
::-webkit-scrollbar-thumb {
	background:var(--heo-scrollbar);
	border-radius:8px;
	cursor:pointer
}
::-webkit-scrollbar-thumb:hover {
	background:var(--heo-main);
	opacity:1;
	display:block!important
}
::-webkit-scrollbar-track {
	background-color:var(--heo-none)
}
html {
	overflow-y:overlay
}
.layout.hide-aside {
	max-width:1200px
}
#nav {
	flex-wrap:nowrap;
	justify-content:space-between
}
#nav .menus_items .menus_item .menus_item_child {
	padding:6px 8px 8px 8px;
	border-radius:12px;
	background:var(--heo-card-bg);
	box-shadow:var(--heo-shadow-black)
}
#sidebar #sidebar-menus .menus_items .menus_item_child {
	margin-left:1rem
}
.site-page i.fa-chevron-down {
	display:none
}
#nav .menus_items .menus_item .menus_item_child li a:hover {
	background:var(--heo-main)!important;
	color:var(--heo-white)!important;
	margin:0 auto
}
#nav .menus_items .menus_item {
	padding:0 .4rem
}
#nav .menus_items .menus_item .menus_item_child li {
	display:inline-flex
}
#nav a {
	border-radius:12px;
	color:var(--heo-white)
}
.nav-fixed #nav a {
	color:var(--heo-fontcolor)
}
#page-header.nav-fixed #nav {
	top:0;
	transition:.2s;
	background:var(--heo-card-bg)!important;
	box-shadow:var(--heo-shadow-nav)!important
}
#page-header #nav {
	box-shadow:none;
	transition:.2s
}
#nav.show {
	transform:translate3d(0,0,0)!important;
	top:0;
	transition:.2s;
	position:fixed;
	z-index:91
}
#page-header.not-top-img #nav {
	background:0 0;
	transition:.3s
}
#page-header.nav-fixed #nav #menus>div.menus_items {
	transition:.3s;
	margin-bottom:4px
}
#page-header.not-top-img {
	margin-bottom:0
}
#menus {
	margin-bottom:4px
}
#page-header.no-top-img {
	margin-bottom:0
}
.layout {
	padding:1rem 15px
}
#site-name .iconfont {
	font-size:20px;
	font-weight:400;
	line-height:48px
}
#site-logo {
	width:121px
}
#site-logo:hover {
	transform:scale(1.1)
}
@media screen and (min-width:900px) {
	#nav #blog_name {
	flex-wrap:nowrap;
	height:60px;
	overflow:hidden;
	display:flex;
	align-items:center
}
#nav #site-name {
	display:inline;
	opacity:1;
	transition:.3s;
	overflow:hidden
}
#nav #site-name i {
	transition:.3s
}
#nav #site-name:hover i {
	opacity:0;
	transition:.3s
}
#page-header.nav-fixed #nav #site-name {
	display:inline;
	opacity:1;
	transition:.1s
}
#page-header.nav-visible #nav #site-name {
	display:inline;
	opacity:1;
	transition:.1s
}
#nav #site-name:after {
	background:url(https://p.zhheo.com/py5nIv20490481618195324007.png!cover) no-repeat 50% 50%;
	opacity:0;
	transform:translateY(-10px);
	margin-left:34px;
	position:absolute;
	display:inline-block;
	left:0;
	top:0;
	z-index:1;
	width:76px;
	height:58px;
	content:"";
	transition:.3s;
	transition-timing-function:ease-in
}
#nav #site-name:hover:after {
	opacity:1;
	transform:translateY(0);
	transition-timing-function:ease-out
}
#nav #page-name-text {
	display:inline;
	font-weight:700;
	padding:4px 8px;
	opacity:0;
	transition:.1s;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	position:relative;
	text-align:center;
	cursor:pointer;
	top:0;
	font-size:.9rem
}
#nav #page-name-text:hover {
	color:var(--heo-white)!important;
	background:var(--heo-main)
}
#page-header.nav-fixed #nav #page-name-text {
	display:inline;
	opacity:1;
	transition:.15s;
	top:0
}
#page-header.nav-fixed #nav div.menus_items {
	display:inline;
	opacity:0;
	transition:.15s;
	transform:translateY(-60px)
}
#page-header.nav-fixed.nav-visible #nav #page-name-text {
	display:inline;
	opacity:0;
	transition:.15s;
	top:30px
}
#page-header.nav-fixed.nav-visible #nav div.menus_items {
	display:inline;
	opacity:1;
	transition:.15s;
	transform:translateY(0)
}
#page-name {
	overflow:hidden;
	align-items:center;
	display:inline;
	border-radius:12px;
	margin-left:1rem
}
}@media screen and (max-width:899px) {
	#nav #page-name {
	display:none!important
}
}i.fab {
	font-size:20px;
	vertical-align:middle
}
#body-wrap .full_page:before {
	background-color:var(--heo-none)!important;
	transition:0s!important
}
.full_page #page-header:before {
	display:none!important
}
.snackbar-container {
	background:var(--heo-main)!important;
	color:var(--heo-white)!important;
	border-radius:8px!important;
	font-weight:700!important
}
#nav a {
	transition:.3s
}
#nav a:hover {
	color:var(--heo-white)!important;
	background:var(--heo-main);
	transition:.3s
}
.nav-fixed #nav #site-name i {
	color:var(--heo-fontcolor)
}
#nav #site-name:hover i {
	color:var(--heo-white)
}
#search-mask {
	backdrop-filter:blur(3px);
	background:var(--heo-maskbg)
}
#algolia-search .search-dialog .ais-search-box input {
	border-radius:12px!important
}
#algolia-search .search-dialog .ais-search-box input::placeholder {
	opacity:.6
}
.search-dialog {
	border-radius:12px!important;
	box-shadow:var(--heo-shadow-lightblack);
	background:var(--heo-card-bg)
}
#algolia-tips {
	padding-top:12px;
	color:var(--heo-secondtext)
}
#algolia-search-results {
	padding-top:8px
}
#algolia-search .search-dialog .ais-search-box {
	padding-top:8px
}
#algolia-search .search-dialog .ais-pagination.pagination .ais-pagination--item.current a {
	border-radius:4px
}
a {
	color:var(--heo-fontcolor)
}
a:hover {
	color:var(--heo-hovertext)
}
hr {
	display:none
}
#footer-wrap {
	color:var(--heo-fontcolor)
}
#footer-wrap a {
	color:var(--heo-fontcolor);
	height:44px;
	line-height:36px
}
#footer-wrap a:hover {
	color:var(--heo-hovertext);
	background-color:var(--heo-none)
}
div#footer_deal {
	justify-content:center;
	display:flex;
	padding-top:2rem
}
div#poem_sentence {
	text-align:center;
	font-family:serif,cursive;
	padding-top:2rem
}
div#poem_info {
	display:flex;
	color:var(--heo-secondtext);
	font-size:.5rem;
	justify-content:center
}
div#poem_author {
	order:1;
	padding:2px;
	margin-left:8px
}
div#poem_dynasty {
	order:0;
	padding:2px 4px 2px 6px;
	background:var(--heo-card-btn-bg);
	color:var(--heo-fontcolor);
	border-radius:8px
}
@media screen and (max-width:769px) {
	div#footer_deal {
	display:none
}
}a.deal_link {
	line-height:55px;
	color:var(--heo-secondtext)
}
a.deal_link:hover {
	color:var(--heo-hovertext)
}
img.footer_mini_logo {
	width:50px;
	height:50px;
	margin:0 1rem;
	cursor:pointer;
	filter:drop-shadow(0 12px 12px #ee7d7936);
	transition:.5s
}
img.footer_mini_logo:hover {
	transform:scale(1.1);
	transition:.5s
}
#weblogo {
	align-self:center
}
#footer-wrap a#heoblog_footerlogo:hover {
	background:var(--heo-none)
}
.heoblog_footerlogo_img {
	filter:drop-shadow(0 12px 12px #ee7d7936)
}
.heoblog_footerlogo_img:hover {
	transform:scale(1.1)
}
#nav .menus_items {
	position:absolute;
	width:400px;
	text-align:center;
	left:0;
	right:0;
	margin:auto
}
#menus>div.menus_items>div>a {
	letter-spacing:.3rem;
	padding-left:.7rem;
	font-weight:700
}
#nav .menus_items .menus_item .menus_item_child li a {
	letter-spacing:0
}
#page-header.nav-fixed #nav #menus[style*="padding-right:300px;"] .menus_items {
	transform:translateX(-150px)
}
#travellings_button {
	display:inline;
	padding:0 .4rem
}
#darkmode_navswitch {
	display:inline;
	padding:0 .4rem;
	position:relative;
	top:1px
}
#darkmode_navswitch a i {
	font-size:.9rem
}
a.darkmode_switchbutton {
	padding:4px 8px!important;
	cursor:pointer;
	margin:0!important;
	font-size:.9rem;
	color:var(--heo-fontcolor)
}
#nav .site-page {
	text-shadow:.05rem .05rem .1rem transparent;
	border-radius:8px
}
#nav .site-page {
	color:var(--heo-white)
}
.nav-fixed #nav .site-page {
	color:var(--heo-fontcolor)
}
.post-bg #nav #site-name {
	color:var(--heo-white);
	transition:0s
}
#nav #site-name {
	text-shadow:.05rem .05rem .1rem transparent;
	color:var(--heo-fontcolor);
	padding:0 .4rem;
	transition:.3s
}
#search-button>a>span {
	display:none
}
#nav .menus_items .menus_item i.expand {
	display:none
}