:root {
  --wds-white: #fff;
  --wds-black: #000;
  --wds-none: rgba(0, 0, 0, 0);
  --wds-gray: #999999;
  --wds-yellow: #ffc93e;
  --wds-main: #057748;
  --wds-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --wds-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --wds-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --wds-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --wds-shadow-pink: 0 8px 12px -3px #ee7d7936;
  --wds-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%)
}

::selection {
  background: var(--wds-main);
  color: var(--wds-white)
}

[data-theme=light] {
  --wds-theme: #425AEF;
  --wds-blue: #425AEF;
  --wds-red: #D8213C;
  --wds-green: #008200;
  --wds-fontcolor: #363636;
  --wds-background: #f7f9fe;
  --wds-reverse: #000;
  --wds-maskbg: rgba(255, 255, 255, 0.6);
  --wds-hovertext: #5374ff;
  --wds-ahoverbg: #F7F7FA;
  --wds-lighttext: #ef794f;
  --wds-secondtext: rgba(60, 60, 67, 0.6);
  --wds-scrollbar: rgba(60, 60, 67, 0.4);
  --wds-card-btn-bg: #edf0f7;
  --wds-post-blockquote-bg: #fafcff;
  --wds-post-tabs-bg: #f2f5f8;
  --wds-secondbg: #edf0f7;
  --wds-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --wds-card-bg: #fff;
  --wds-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --wds-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --wds-footer-bg: linear-gradient(208deg,#4584ff 0,#4584ff 11%,#ff7676 100%);
}

[data-theme=dark] {
  --wds-theme: #0084FF;
  --wds-blue: #0084FF;
  --wds-red: #FF3842;
  --wds-green: #00FF00;
  --wds-fontcolor: #F7F7FA;
  --wds-background: #18171d;
  --wds-reverse: #fff;
  --wds-maskbg: rgba(0, 0, 0, 0.6);
  --wds-hovertext: #0A84FF;
  --wds-ahoverbg: #fff;
  --wds-lighttext: #f2b94b;
  --wds-secondtext: #a1a2b8;
  --wds-scrollbar: rgba(200, 200, 223, 0.4);
  --wds-card-btn-bg: #30343f;
  --wds-post-blockquote-bg: #000;
  --wds-post-tabs-bg: #121212;
  --wds-secondbg: #30343f;
  --wds-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --wds-card-bg: #1d1b26;
  --wds-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --wds-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --wds-footer-bg: linear-gradient(208deg,#40333d 0,#4a3b3b 20%,#342965 100%);
}

#page {
  min-height: calc(100vh - 100px)
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--wds-scrollbar);
  border-radius: 8px;
  cursor: pointer
}

::-webkit-scrollbar-thumb:hover {
  background: var(--wds-main);
  opacity: 1;
}

::-webkit-scrollbar-track {
  background-color: var(--wds-none)
}

html {
  overflow-y: overlay
}

.layout.hide-aside {
  max-width: 1200px
}

#nav {
  flex-wrap: nowrap;
  justify-content: space-between
}

/* 修改菜单栏 */
#nav .menus_items .menus_item .menus_item_child {
  padding: 6px 8px 8px 8px;
  border-radius: 12px;
  width: auto;
  background: var(--wds-card-bg);
  box-shadow: var(--wds-shadow-black);
  white-space: nowrap;
}

#sidebar #sidebar-menus .menus_items .menus_item_child {
  margin-left: 1.1rem;
  display: block;
}

.site-page i.fa-chevron-down {
  display: none
}

#nav .menus_items .menus_item .menus_item_child li a:hover {
  background: var(--wds-main) !important;
  color: var(--wds-white) !important;
  margin: 0 auto
}

#nav .menus_items .menus_item {
  padding: 0 .4rem
}

#nav .menus_items .menus_item .menus_item_child li {
  display: inline-flex
}

.layout {
  padding: 1rem 15px
}
#page-header #nav #nav-group {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-header.nav-fixed #nav div.menus_items {
  display: inline;
  opacity: 0;
  transition: .15s;
  transform: translateY(-60px)
}

#page-header.nav-fixed.nav-visible #nav div.menus_items {
  display: inline;
  opacity: 1;
  transition: .15s;
  transform: translateY(0)
}

#page-header #page-name {
  max-width: 550px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 91;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  transition: .15s;
}

#page-header #page-name-text {
  font-weight: 600;
  padding: .2rem 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: .9rem;
  border-radius: 12px;
  color: var(--wds-white);
}

#page-header #page-name-text:hover {
  color: var(--wds-main) !important;
  background: var(--wds-white);
}

#page-header.nav-fixed.nav-visible #page-name {
  display: none;
}

#page-header.nav-fixed #page-name {
  display: flex;
}

@media screen and (max-width: 900px) {
  #page-header #page-name {
    display: none !important
  }
}

#nav a:hover {
  color: var(--wds-main) !important;
  background: var(--wds-white);
  transition: .3s
}

.nav-fixed #nav #site-name i {
  color: var(--wds-fontcolor)
}

#nav #site-name:hover i {
  color: var(--wds-white)
}

a {
  color: var(--wds-fontcolor)
}

a:hover {
  color: var(--wds-main)
}

hr {
  display: none
}

#nav .menus_items {
  display: inline-block;
}

#menus>div.menus_items>div>a {
  letter-spacing: .2rem;
  padding: .5rem .5rem .5rem .7rem;
  font-weight: bold;
}

#page-header.nav-fixed #nav #menus[style*="padding-right: 300px;"] .menus_items {
  transform: translateX(-150px)
}

#nav .site-page {
  text-shadow: .05rem .05rem .1rem transparent;
  border-radius: 12px;
  padding: .4rem;
}

#nav .site-page {
  color: var(--wds-white)
}

.nav-fixed #nav .site-page {
  color: var(--wds-fontcolor)
}

.post-bg #nav #site-name {
  color: var(--wds-white);
  transition: 0s
}

#nav #site-name {
  text-shadow: .05rem .05rem .1rem transparent;
  color: var(--wds-fontcolor);
  padding: .4rem .5rem;
  transition: .3s
}

#nav .menus_items .menus_item i.expand {
  display: none
}

#nav #darkmode_navswitch {
  display: inline-block;
}
#nav #search-button {
  display: inline-block;
}
#nav #search-button .site-page {
  padding: .54rem;
}

#darkmode_navswitch a i {
  font-size: .9rem
}

a.darkmode_switchbutton {
  padding: .4rem .66rem;
  cursor: pointer;
  color: var(--wds-fontcolor)
}

/* 本地搜索 */

#search-button>a>span {
  display: none
}

#local-search-tip {
  font-size: var(--global-font-size);
  margin: 10px 8px;
}

#local-search .search-dialog .local-search__hit-item:before {
  border: 0.15rem solid var(--wds-main);
}

#local-search .search-dialog .local-search__hit-item a:hover {
  color: var(--wds-main);
}
.search-dialog span.search-close-button:hover {
  color: var(--wds-main);
}

/* 文章列表修改 */
.article-sort-title:before {
  display: none
}

.article-sort-title:after {
  display: none
}

.article-sort {
  border: none
}

.article-sort {
  margin-left: 0;
  padding-left: 0
}

.article-sort-title {
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0
}

.article-sort-item {
  margin: 0 0 1rem 0
}

.article-sort-item.year {
  font-size: .8rem;
  color: var(--wds-secondtext)
}

.article-sort-title {
  font-weight: 600;
  font-size: 2em
}

.article-sort-item-info {
  padding: 0 .8rem;
  display: flex;
  flex-direction: column
}

.article-sort-item-time {
  order: 1;
  margin-top: 4px;
  color: var(--wds-secondtext)
}

.article-sort-item-title {
  order: 0;
  font-weight: 600
}

.article-sort-item-title:hover {
  transform: translateX(0)
}

#recent-posts>.recent-post-item {
  background: var(--wds-card-bg);
  box-shadow: var(--wds-shadow-light2black);
  border-radius: 12px;
  height: 13em;
}
#recent-posts>.recent-post-item:not(:first-child) {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

#recent-posts>.recent-post-item>.recent-post-info>.content {
  color: var(--wds-secondtext);
}

.layout>div:first-child:not(.recent-posts) {
  box-shadow: var(--wds-shadow-lightblack);
  padding: 1rem 2rem;
  border-radius: 12px;
  background: var(--wds-card-bg);
}

#aside-content .card-widget {
  box-shadow: var(--wds-shadow-lightblack);
  background: var(--wds-card-bg);
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--wds-white);
}

.not-top-img+.layout .aside-content .sticky_layout .card-recent-post {
  display: none;
}

/* 右下角按钮设置 */

#rightside {
  right: -40px;
}
#rightside #rightside-config-hide {
  transform: translate(40px, 0);
}
#rightside > div > button, #rightside > div > a {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 900px){
  #rightside #mobile-toc-button{
    display: none;
  }
}

/* 页码样式调整 */
#pagination .page-number {
  margin: 0 0.2rem;
  min-width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

/* 页面内链接样式 */
#article-container a {
  text-decoration: none;
  border-bottom: 2px solid var(--wds-main);
  color: var(--wds-fontcolor);
  font-weight: 700;
}

#article-container a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--wds-none);
  color: var(--wds-main);
  background: var(--wds-post-blockquote-bg);
  border-radius: 4px;
}

/* 菜单栏居中右边移动 */
/* #nav .menus_items .menus_item:nth-child(2) .menus_item_child {
  right: -150px;
} */
#nav .menus_items .menus_item:nth-child(4) .menus_item_child {
  right: -150px;
}

/* 页面顶部加载进度条 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: .3s
}

.pace .pace-progress {
  background: #4584ff;
  background: var(--wds-logo-color);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px
}

/* 猜你喜欢样式 */
.relatedPosts > .headline {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: .6rem;
}

/* 侧边栏样式 */
#aside-content .item-headline {
  padding-bottom: .4rem;
  font-size: 1em;
  color: var(--wds-secondtext);
}
#aside-content .item-headline i {
  font-size: .86em;
}
#aside-content .item-headline span{
  margin-left: .3em;
}

/* 文章标签样式 */
#post .tag_share .post-meta__tags {
  background: var(--wds-card-btn-bg);
  border: 0 solid var(--wds-main);
  color: var(--wds-fontcolor);
  margin: 0 0 0 .3rem;
}

#post .tag_share .post-meta__tags:hover {
  background: var(--wds-main);
  box-shadow: 0 4px 8px -3px rgb(40 109 234 / 20%);
  color: var(--wds-white);
}

/* 侧边栏a标签 */
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a, 
#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
  border-radius: 12px;
  margin: 2px 0;
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover, 
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--wds-white);
  background-color: var(--wds-main);
  box-shadow: var(--wds-shadow-blue);
  border-radius: 12px;
}
/* 文章toc */
#aside-content #card-toc .toc-content:before {
  display: none
}
#card-toc {
  margin-top: 1rem!important
}
#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--wds-main);
  background-color: var(--wds-main);
  font-weight: 600
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--wds-white)
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 12px
}

#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0 solid transparent;
  color: var(--wds-secondtext);
  font-weight: 500;
}

#card-toc {
  padding: 1rem .5rem!important
}

/* 侧边栏最新文章样式 */
#aside-content .aside-list>.aside-list-item {
  padding: 8px;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-radius: 12px;
  transition: .3s;
  margin: 4px 0;
}
#aside-content .aside-list>.aside-list-item a {
  border-radius: 12px;
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--wds-background)!important;
}
#aside-content .aside-list>.aside-list-item:hover {
  background: var(--wds-main);
  color: var(--wds-white);
  transition: .3s;
  box-shadow: var(--wds-shadow-black);
}
#aside-content .aside-list>.aside-list-item .content>.title {
  -webkit-line-clamp: 2;
  font-weight: 600;
  padding: 2px 0;
  font-size: .86em;
  overflow-wrap: break-word;
}
#aside-content .aside-list>.aside-list-item:hover a {
  color: var(--wds-white)!important;
}
#aside-content .aside-list>.aside-list-item:hover time {
  color: var(--wds-white)!important;
}

/* 底部样式修改 */
#footer {
  background: var(--wds-card-bg);
  margin-top: 1rem
}
div#footer-social {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
}
img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  border-radius: 70px;
  cursor: pointer;
  filter: drop-shadow(0 12px 12px #ee7d7936);
  transition: .5s;
  /* animation: 2s linear 0s infinite normal none running avatar_turn_around; */
}
a.deal_link {
  line-height: 55px;
  color: var(--wds-secondtext);
}
a.deal_link:hover i{
  color: var(--wds-main) !important;
}
#footer-social i {
  font-size: 1.3rem;
  line-height: 1.3rem;
  height: 1.3rem;
  width: 1.3rem;
  color: var(--wds-fontcolor);
  margin: 0 27px;
  transition: .3s;
}
#footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem;
}
#footer-container .footer-group {
  min-width: 120px;
}
#footer-container .footer-title {
  color: var(--wds-secondtext);
  font-size: .8rem;
}
#footer-container .footer-links {
  display: flex;
  flex-direction: column;
}
#footer-container .footer-item {
  font-size: .8rem;
  color: var(--wds-fontcolor);
  margin-right: auto;
}
#footer-container .footer-item:hover {
  color: var(--wds-main);
}

#footer-banner {
  padding: 1rem;
  color: #fff;
  margin-top: 1rem;
  background: var(--wds-main);
  display: flex;
}
#footer-banner .footer-banner-links {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
#footer-banner .footer-banner-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#footer-banner>div>div.footer-banner-left>span {
  margin-right: 1rem;
}
#footer-banner .footer-banner-link {
  margin-right: 1rem;
  color: var(--wds-white);
  font-size: .8rem;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 769px){
  div#footer-social {
    display: none;
  }
}
#footer:before {
  position: absolute!important;
  width: 100%!important;
  height: 100%!important;
  content: ''!important;
  background-color: var(--wds-maskbg)!important;
  z-index: -1;
}

/* 底部工具栏 */
#rightside {
  display: none;
}

#web_bg {
  background-repeat: repeat;
  background-size: auto;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  transform: rotate(-15deg);
  opacity: 1;
  background-color: var(--wds-background);
}

#web_bg:before {
  background-color: var(--wds-maskbg);
  filter: brightness(.8);
  opacity: .93;
}

/* 主页哔哔bb */
#bber-talk {
  width: 100%;
  height: 25px;
  line-height: 25px;
}

#bber-talk .li-style {
  width: 100%;
  height: 25px;
  font-weight: 500;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.li-style:hover{
  color: var(--wds-main)
}

ul,li{
  list-style:none;
  display:block;
  margin: 0;
  padding: 0;
}

#bbTimeList {
  background: var(--card-bg);
  color: var(--font-color);
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#bbTimeList .bblogo{
  color: var(--font-color);
  font-weight: 600;
  display: inline;
  width: 180px;
}
#bbTimeList i {
  width: 120px;
  text-align: right;
}

/* 图片加载虚化处理 */
@keyframes realImg {
  0% {
    filter: blur(15px)
  }
  100% {
    filter: blur(0)
  }
}
.post_bg {
  filter: blur(15px);
}
.post_bg.entered.loaded {
  filter: blur(0);
  will-change: opacity;
  animation: realImg .5s linear;
}
/* 友情链接样式修改 */
#article-container .flink .flink-list{
  padding: 0;
  margin: -8px;
  overflow: auto;
  text-align: center;
}
#article-container .flink .flink-list > .flink-list-item {
  background: var(--wds-secondbg);
  margin: 6px 6px;
  transition: .3s;
  border-radius: 12px;
  width: calc(100% / 4 - 12px);
  transition-timing-function: ease-in-out;
}
#article-container .flink .flink-list > .flink-list-item:hover {
  transform: scale(1);
  background: var(--wds-main) !important;
}
.flink#article-container .flink-list>.flink-list-item:before {
  background: #286dea;
  transition: .3s;
}
#article-container .flink .flink-list > .flink-list-item a img {
  border-radius: 12px;
  margin: 15px 20px 15px 15px;
  transition: .3s;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-name {
  text-align: left;
  font-size: 19px;
  color: var(--wds-fontcolor);
}
#article-container .flink .flink-list > .flink-list-item:hover a .flink-item-name {
  color: var(--wds-white);
  transition: .6s;
  transform: translateX(-75px);
  text-align: left;
  font-size: 19px;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-desc {
  white-space: normal;
  padding: 5px 10px 16px 0;
  color: var(--wds-fontcolor);
  text-align: left;
  height: 40px;
  text-overflow: ellipsis;
  opacity: .7;
  font-size: .76rem;
}
#article-container .flink .flink-list > .flink-list-item:hover a .flink-item-desc {
  color: var(--wds-white);
  transition: .6s;
  transform: translateX(-75px);
  overflow: inherit;
  width: 120%;
  white-space: normal;
  padding: 5px 10px 16px 0;
  text-align: left;
  height: 40px;
  text-overflow: ellipsis;
  opacity: .7;
}
#article-container .flink .flink-list > .flink-list-item:hover img {
  transition: .6s;
  transform: translateX(-75px);
  opacity: 0;
  border-radius: 12px;
  margin: 15px 20px 15px 15px;
}
#article-container .flink .flink-list > .flink-list-item:before {
  background: var(--wds-blue-);
  transition: .3s;
}
@media screen and (max-width: 1200px) {
  #article-container .flink .flink-list > .flink-list-item {
    width: calc(100% / 4 - 12px)!important;
  }
}
@media screen and (max-width: 1024px) {
  #article-container .flink .flink-list > .flink-list-item  {
    width: calc(100% / 3 - 12px)!important;
  }
}
@media screen and (max-width: 768px) {
  #article-container .flink .flink-list > .flink-list-item  {
    width: calc(100% / 2 - 12px)!important;
  }
}
@media screen and (max-width: 600px) {
  #article-container .flink .flink-list > .flink-list-item  {
    width: calc(100% - 12px)!important;
  }
}

/* 文章列表样式 */
.article-sort-item-img {
  border-radius: 12px;
}
.article-sort-item-time i {
  display: none;
}

/* 首页样式 */
@media screen and (max-width: 768px) {
  #recent-posts .recent-post-item .article-meta__categories {
    display: none;
  }
  #recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
    display: none;
  }
}
@media screen and (min-width: 768px) {  
  #recent-posts .recent-post-item .article-meta__categories {
    position: absolute;
    padding: 4px 10px;
    background: var(--wds-card-bg);
    border-radius: 32px;
    margin-left: 12px;
    margin-top: -.5rem;
    transform: translateY(-78px);
    font-size: .6rem;
    font-weight: 700;
    color: var(--wds-fontcolor);
  }
  #recent-posts .recent-post-item .article-meta__categories:hover {
    background: var(--wds-main);
    color: var(--wds-white);
    box-shadow: var(--wds-shadow-blue);
  }
  #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    position: absolute;
    bottom: 30px;
    width: 100%;
    transition: .3s;
  }
  #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a {
    color: var(--wds-fontcolor);
  }
  .article-meta__tags {
    margin-right: 4px;
    padding: 0 .2rem;
  }
  .article-meta.tags {
    width: 50%;
  }
  .article-meta {
    margin: 0 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
  #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap>.post-meta-date {
    right: 85px;
    text-align: right;
    position: absolute;
  }

  #recent-posts>.recent-post-item>.recent-post-info {
    transform: translateX(0);
    transition: all .3s;
    height: 100%;
    cursor: pointer;
  }
  #recent-posts>.recent-post-item>.recent-post-info>.content {
    -webkit-line-clamp: 2;
    line-height: 1.6;
    color: var(--wds-secondtext);
    margin-top: 12px;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
  }
  #recent-posts>.recent-post-item:hover>.recent-post-info>.content {
    opacity: 1;
  }

  #recent-posts>.recent-post-item:hover>.recent-post-info>.article-title {
    margin-top: 20px;
  }
  #recent-posts>.recent-post-item:hover>.recent-post-info>.article-meta-wrap {
    bottom: 10px;
  }
  #recent-posts > .recent-post-item >.recent-post-info > .article-title {
    margin-top: 40px;
  }
  #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover {
    background-color: var(--wds-post-blockquote-bg);
    color: var(--wds-main);
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
  }
}

/* 文章页top-img */
.coverdiv {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  display: none;
  overflow: hidden;
}
.coverdiv.loaded {
  display: block;
}
.post-bg #post-cover {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: .8;
  transform: rotate(10deg) translateY(-30px) scale(1.1);
}
.coverdiv:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 330px -220px 300px 60px var(--wds-main) inset;
}
#page-header.post-bg:before {
  transition: 0s;
  opacity: .93;
  height: 20rem;
  background-color: var(--wds-main);
  opacity: .8;
}
#page-header.post-bg {
  background-color: var(--wds-main);
  transition: 0s;
  overflow: hidden;
}
@media screen and (max-width: 768px){
  #page-header.post-bg {
    height: 15rem;
  }
}

/* 侧边栏样式 */
#aside-content>.card-widget:first-child {
  background: var(--wds-main);
  box-shadow: var(--wds-shadow-black);
  transition: .3s;
  color: var(--wds-white);
}

#aside-content .card-info .card-info-data > .card-info-data-item a .headline {
  color: var(--wds-white);
}
#aside-content .card-info .card-info-data > .card-info-data-item a .length-num {
  color: var(--wds-white);
}
#aside-content .card-info img:hover {
  transform: none;
}

#aside-content .card-announcement .item-headline {
  display: none;
}
.card-announcement .announcement_content p {
  margin: .5rem 0 0 0;
  line-height: 1.6;
  font-size: .8rem;
}
.card-announcement .content_qrcode {
  text-align: center;
}
.card-announcement .content_qrcode img{
  width: 180px;
  margin-top: 10px;
}

/* 文章样式 */
#page-header #post-info {
  padding: 0 1rem;
  margin: 0 auto;
  color: var(--wds-white);
  max-width: 1200px;
  top: 30%;
  left: 0;
  right: 0;
}
#post-firstinfo {
  text-align: left;
}
#post-info .post-title {
  color: var(--wds-white);
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
  text-align: left;
  margin: 1rem 0!important;
  -webkit-line-clamp: 2;
}
#post-firstinfo>div>span.post-meta-categories>a {
  margin-left: .4rem;
  font-weight: 600;
  color: var(--wds-white);
}
#post-firstinfo>div>span.post-meta-date>time {
  margin-left: .5rem;
  opacity: .6;
}
#post-info #post-meta {
  color: var(--wds-white);
}
#post-meta>div {
  text-align: left;
  margin-top: .4rem;
}

#post-info #post-meta>.meta-secondline>span:first-child {
  display: inline;
  margin-left: -1rem;
}
#post-info #post-meta .post-meta-icon {
  margin-right: .4rem;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  #page-header #post-info {
    padding: 0 8%;
    bottom: 10rem!important;
  }
  #post-info .post-title {
    font-size: 1.4rem;
    -webkit-line-clamp: 2;
    margin: .2rem 0!important;
  }
}

#article-container p {
  font-size: 18px;
  line-height: 2.14;
  font-weight: 400;
  margin: 1rem 0;
}

#article-container.post-content h1:before, #article-container.post-content h2:before, #article-container.post-content h3:before, #article-container.post-content h4:before, #article-container.post-content h5:before, #article-container.post-content h6:before {
  top: calc(50% - .45rem);
  content: '';
}
h1, h2, h3, h4, h5, h6 {
  padding-left: 0 !important;
}
#article-container .headerlink {
  float: right;
  opacity: .08;
  border-bottom-style: none;
  border-bottom: none;
  position: relative;
}
#article-container .headerlink::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#article-container .headerlink:hover {
  background: 0 0;
  opacity: 1;
  border-bottom: none;
}

/* 文章底部打赏 */
.post-tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.post-tools-left {
  white-space: nowrap;
  display: flex;
  text-overflow: ellipsis;
  margin-top: 1rem;
}
.post-tools-right {
  margin-top: 1.3rem;
  overflow: scroll;
  overflow-x: overlay;
  white-space: nowrap;
}
.post-reward {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.post_share {
  margin-left: 20px;
}
.post_share a {
  background: var(--wds-card-btn-bg) !important;
  color: var(--wds-fontcolor) !important;
  border: none !important;
  border-radius: 8px !important;
  cursor: pointer;
  transition: .3s;
  width: 56px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.post_share a:hover {
  background: var(--wds-main) !important;
  color: var(--wds-white) !important;
  transition: .3s;
  box-shadow: var(--wds-shadow-blue);
}
@media screen and (max-width: 769px) {
  .post_share .social-share .icon-wechat {
    display: none !important;
  }
}
/* 赞赏样式 */
.post-reward .reward-button {
  background: var(--wds-red);
  color: var(--wds-white);
  padding: 0;
  width: 133px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px!important;
}
.post-reward .reward-button:hover {
  color: var(--wds-white);
  background: var(--wds-main);
  box-shadow: var(--wds-shadow-blue);
}

.post-reward .reward-main .reward-all {
  border-radius: 12px;
  background: var(--wds-background);
}
.reward-group {
  display: flex;
}
a.reward-main-btn {
  background: var(--wds-secondbg);
  width: 100%;
  color: var(--wds-fontcolor);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 4px 0;
}
a.reward-main-btn:hover {
  color: var(--wds-white);
  background: var(--wds-red);
  background-image: url(https://cdn.jsdelivr.net/gh/realwds/cdn@master/img/reward.2emkfzy7hvgg.gif);
}
.reward-text {
  margin-bottom: 0;
  font-weight: 700;
}
.reward-dec {
  font-size: .6rem;
}

/* 版权样式修改 */
#post .post-copyright {
  background: var(--wds-main);
  padding: .9rem 1.4rem;
  overflow: hidden;
  border: none;
  border-radius: 8px;
}
#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--wds-white);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#post>div.post-copyright>div.post-copyright__author>span>span {
  padding: 0;
  color: var(--wds-white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.38;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}
#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--wds-white);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: .6;
  line-height: 16px;
}
#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--wds-white);
  font-weight: 700;
  text-decoration: none;
}
#post .post-copyright .post-copyright-info a:hover {
  opacity: 1;
  background: 0 0;
  color: var(--wds-white);
}
#post>div.post-copyright>div.post-copyright__notice {
  font-size: .7rem;
  line-height: 1rem;
  margin: .5rem 0;
}
#post .post-copyright:before {
  display: none;
}
#post .post-copyright:after {
  position: absolute;
  right: 12px;
  top: -37px;
  content: '\f25e';
  font-size: 100px;
  font-family: 'Font Awesome 5 Brands';
  opacity: .2;
  color: var(--wds-white);
  opacity: .4;
}

/* 猜你喜欢样式修改 */
.relatedPosts > .relatedPosts-list > div {
  height: auto;
  margin: 0 5px 10px;
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
  position: relative;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease 0s;
  width: calc(33.333% - 10px);
}
.relatedPosts > .relatedPosts-list > div:hover{
  box-shadow: var(--card-hover-box-shadow);
}
@media (max-width: 620px) {
  .relatedPosts > .relatedPosts-list > div {
    width: calc(50% - 10px);
    margin: 0 5px 10px;
  }
}

.relatedPosts > .relatedPosts-list > div .grid-img {
  height: 166px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.relatedPosts > .relatedPosts-list > div .grid-img a {
  display: block;
  height: 100%;
}

.relatedPosts > .relatedPosts-list > div .grid-img a img {
  opacity: 1;
  border-radius: 8px 8px 0 0;
  transition: all .3s ease-out 0s;
  object-fit: cover;
  background: #fff;
  display: block;
  font-size: 0;
}

.relatedPosts > .relatedPosts-list > div .grid-cat {
  padding: 10px 10px 0 10px;
  display: block;
  font-size: 14px;
  color: var(--wds-secondtext);
  margin-left: 18px;
  height: 30px;
  position: relative;
}
.relatedPosts > .relatedPosts-list > div .grid-cat:after{
  content: " ";
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 15px;
  position: relative;
  left: -16px;
  top: -17px;
  border: 2px solid var(--wds-black);
}
.relatedPosts > .relatedPosts-list > div .grid-title {
  font-size: 16px;
  font-weight: normal;
  margin: 12px 10px 10px;
  position: relative;
}
.relatedPosts > .relatedPosts-list > div .grid-title a{
  color: var(--wds-fontcolor);
  line-height: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 20px;
}
.relatedPosts > .relatedPosts-list > div .grid-title a:hover{
  color: var(--wds-main);
}
.relatedPosts > .relatedPosts-list > div .grid-meta{
  color: var(--wds-secondtext);
  padding: 0 10px 10px 10px;
  font-size: 13px;
  height: 32px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .relatedPosts > .relatedPosts-list > div .grid-img {
    height: 120px;
  }
  .relatedPosts > .relatedPosts-list > div .grid-cat {
    padding: 8px 6px 0;
  }
  .relatedPosts > .relatedPosts-list > div .grid-title {
    margin: 6px 6px 4px;
    font-size: 14px;
  }
  .relatedPosts > .relatedPosts-list > div .grid-meta {
    padding: 0 6px 8px;
  }
}

/* 上一篇下一篇样式 */
#pagination.pagination-post {
  overflow: hidden;
  color: var(--wds-fontcolor);
  font-size: .8rem;
  border-radius: 8px;
}
#pagination .prev-post a, #pagination .next-post a {
  height: 80px;
}
#pagination.pagination-post {
  background: var(--wds-main);
}

/* 首页自定义顶部样式 */
.hometop-group .hometop-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 6px 6px 16px;
  transition: .3s;
  border-radius: 12px;
  width: calc(100% / 4 - 12px);
  height: 100px;
  line-height: 100px;
  transition-timing-function: ease-in-out;
}
.hometop-group .hometop-item:nth-child(1){
  background: linear-gradient(to right,#2f80ed,#56ccf2);
}
.hometop-group .hometop-item:nth-child(2){
  background: linear-gradient(to right,#f12711,#f5af19);
}
.hometop-group .hometop-item:nth-child(3){
  background: linear-gradient(to right,#009688,#8bc34a);
}
.hometop-group .hometop-item:nth-child(4){
  background: linear-gradient(to right,#607d8b,#9e9e9e);
}
@media (max-width: 620px) {
  .hometop-group .hometop-item {
    width: calc(100% / 2 - 12px);
  }
}
.hometop-group .hometop-item .hometop-button {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-weight: 700;
  font-size: .9rem;
  color: var(--wds-white);
  transition: all .4s cubic-bezier(.39,.575,.565,1);
  transform: scale(1);
}

.hometop-group .hometop-item .hometop-button span {
  padding-left: 25px;
}
.hometop-group .hometop-item .hometop-button i{
  font-size: 5rem;
  opacity: .4;
  position: absolute;
  right: 0;
  top: 20%;
  transition: .3s;
}
.hometop-group .hometop-item .hometop-button span:after{
  top: 66px;
  width: 1.2rem;
  left: 25px;
  height: 2px;
  background: var(--wds-white);
  content: "";
  border-radius: 1px;
  position: absolute;
  transition: .3s;
}
.hometop-group .hometop-item:hover .hometop-button span:after{
  width: 3rem;
}
.hometop-group .hometop-item:hover .hometop-button i{
  transform: scale(1.1);
}

/* 分类标签页面标题 */
#page .category-lists .category-title,.tag-cloud-title{
  font-weight: 600;
  font-size: 2em;
  text-align: left;
}
.tag-cloud-list {
  text-align: left;
}
.article-sort-title {
  position: static;
}
#aside-content .item-headline {
  display: none;
}
#aside-content .card-tag-cloud a {
  border-radius: 12px;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--wds-main);
  transform: scale(1);
  color: var(--wds-white)!important;
  border-radius: 12px;
  box-shadow: var(--wds-shadow-blue);
}

#page .category-lists ul li {
  font-size: 1.2em;
}

#page .category-lists ul {
  padding: 0 0 0 .5rem;
}

/* 404样式修改 */
#error-wrap{
  top: 40%;
}
#error-wrap .error-content .error-info .error_title{
  margin-top: -3rem!important;
}
#error-wrap .error-content{
  box-shadow: none!important;
  border-radius: 12px;
  background: var(--hassan-card-bg)!important;
}
.aside-list-404{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}
.aside-list-404 .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
.aside-list-404 .aside-list-item{
  padding: .5rem;
}
.aside-list-404 .aside-list-item img{
  width: 100%;
  object-fit: cover;
  transition: .3s;
}
.aside-list-404 .aside-list-item img:hover {
  transform: scale(1.1);
}
.aside-list-404 .aside-list-item .thumbnail{
  overflow: hidden;
  width: 230px;
  height: 143px;
  display: flex;
  background: var(--wds-card-bg);
  border-radius: 12px;
}
.aside-list-404 .aside-list-item .content .title{
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: .5rem;
}
.aside-list-404 .aside-list-item .content time{
  display: none;
}
#error-wrap .error-content .error-info a {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #recent-posts>.post-card-large {
    height: 16em!important;
  }
  
  #recent-posts > .post-card-large >.recent-post-info > .content{
    -webkit-line-clamp: 3!important;
    opacity: 1 !important;
  }
  #recent-posts > .post-card-large:hover >.recent-post-info > .content {
    opacity: 1;
    -webkit-line-clamp: 5!important;
  }
  #recent-posts .post-card-large .article-meta__categories {
    margin-top: -3rem;
  }
}

/* 右侧aside样式修改 */
#aside-content .card-info {
    min-height: 340px;
}

#aside-content.card-info-avatar{
  color: var(--wds-white);
}
#aside-content .card-info .author-info__name {
  font-weight: 700;
  margin-bottom: .6rem;
}

#aside-content .author-info__description {
  line-height: 1.8;
  font-size: .78rem;
  margin: .5rem 0;
  text-align: justify;
}
#aside-content .author-info__description2 {
  line-height: 1.8;
  font-size: .78rem;
  margin: .5rem 0;
  text-align: justify;
  width: 64%;
  z-index: 2;
}
#aside-content .author-info__avatar {
  display: inline-block;
  width: 128px;
  height: 200px;
  position: absolute;
  right: 0;
  bottom: -40px;
}
#aside-content .author-info__avatar img{
  width: 100%;
  height: auto;
  border-radius: 0;
}
#aside-content .author-info__description,.author-info__description2 b {
  color: var(--wds-white);
}

#aside-content .card-info .card-info-social-icons {
  margin: 1.3rem 0 0;
}

#aside-content .card-info .card-info-social-icons .social-icon {
  margin: 0;
  display: inline-block;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--wds-white);
  text-align: center;
  line-height: 40px;
}
#aside-content .card-info .card-info-social-icons i {
  background: var(--wds-white);
  box-shadow: var(--wds-shadow-white);
  color: var(--wds-main);
}
#aside-content .card-info .card-info-social-icons i:hover {
  background: var(--wds-secondbg);
  transform: scale(.95);
  color: var(--wds-main);
  box-shadow: none;
}

/* 评论样式修改 */
#post-comment {
  margin-top: 1.2rem;
}
#post-comment .comment-head {
  margin-bottom: 0;
}
#post-comment .comment-head .comment-headline {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: .6rem;
}
.v[data-class=v] .txt-right {
  opacity: 0!important;
}
.v[data-class=v] .vwrap {
  border: 1px solid var(--wds-main);
}
#vcomment .vbtn, #waline .vbtn {
  border: 1px solid #ededed !important;
  background: 0 !important;
  color: var(--wds-fontcolor) !important;
}
#vcomment .vbtn:hover, #waline .vbtn:hover {
  background: 0 !important
}
.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
  color: var(--wds-fontcolor) !important;
}
.v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code {
  color: var(--wds-fontcolor) !important;
}
.v[data-class=v] .veditor {
  min-height: 5em !important;
}

/* 侧边栏评论样式修改 */
#aside-content .aside-list > .aside-list-item .content > .title, #aside-content .aside-list > .aside-list-item .content > .comment {
  font-size: .7rem;
}
#aside-content .aside-list > .aside-list-item .content > time, #aside-content .aside-list > .aside-list-item .content > .name {
  color: var(--wds-secondtext);
  font-size: .68rem;
}
#aside-content .aside-list>.aside-list-item:hover .name {
  color: var(--wds-white);
}
#aside-content .aside-list > .aside-list-item .thumbnail {
  width: 3.8em;
  height: 3.8em;
}
#card-newest-comments .aside-list>.aside-list-item {
  cursor: pointer;
}

/* 页码样式修改 */
#pagination .page-number {
  width: 2rem;
  background: var(--wds-card-bg);
  height: 2rem;
  line-height: calc(2rem - 2px);
  border-radius: 8px!important;
  margin: 0 .3rem;
  box-shadow: var(--wds-shadow-lightblack);
  border-width: 1px;
  border-style: solid;
  border-color: var(--wds-none);
}
#pagination a.extend.next, #pagination a.extend.prev {
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 8px!important;
    background: var(--wds-card-bg);
    box-shadow: var(--wds-shadow-lightblack);
}
a.extend.prev {
  float: left;
}
a.extend.next {
  float: right;
}
#pagination .page-number.current {
  background: var(--wds-main);
}

/* 修改顶部header样式 */
#page-header.not-top-img {
  background: var(--wds-main)
}
#page-header.not-top-img #nav a {
  color:var(--wds-white)
}
#page-header{
  transition: 0s;
}
#page-header.nav-fixed #nav {
  top: 0;
  background: var(--wds-main);
  box-shadow: var(--wds-shadow-nav) !important;
  opacity: .9;
}
#page-header #nav {
  box-shadow: none;
  transition: .2s;
  display: flex;
  justify-content: center;
  background: var(--wds-main);
}
#nav a {
  border-radius: 12px;
  color: var(--wds-white);
}
#page-header.nav-fixed #nav a, #page-header.nav-fixed #nav #site-name, #page-header.nav-fixed #nav #toggle-menu {
  color: var(--wds-white);
}
#nav.show {
  transform: translate3d(0, 0, 0) !important;
  top: 0;
  transition: .2s;
  position: fixed;
  z-index: 91
}
#page-header.nav-fixed #nav #menus>div.menus_items {
  transition: .3s;
  margin-bottom: 4px
}
#page-header.not-top-img {
  margin-bottom: 0;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-title:hover {
  color: var(--wds-main)
}

/* 修改timeline样式 */
div.timenode::before, div.timenode::after {
  background: var(--wds-main);
  opacity: .5;
}
div.timenode .meta::before {
  background: var(--wds-main);
  opacity: .5;
}
div.timenode .meta::after {
  background: var(--wds-main);
}
/* 悬浮主题颜色 */
#article-container.post-content ul > li:not(.tab):before {
  border: 0.21em solid var(--wds-main);
}
.article-sort-item-title:hover {
  color: var(--wds-main);
}
#page .category-lists .category-list a:hover {
  color: var(--wds-main);
}
#page .category-lists ul li:before {
  border: 0.215em solid var(--wds-main);
}
.tag-cloud-list a:hover {
  color: var(--wds-main) !important;
}
.search-dialog__title {
  color: var(--wds-main);
}
#local-search .search-dialog .local-search-box input {
  border: 2px solid var(--wds-main);
}
/* 隐藏右边栏 */
@media screen and (max-width: 900px) {
  #aside-content {
    display: none;
  }
}