h1.page-title(style='display: inline;')= page.title
#bber-loading
#bber-tips(style='color: var(--wds-secondtext);margin-bottom:20px;')= '仅代表个人观点'
#bber
  .js-pjax
    script.
      var bbapiurl = "https://626c-blog-6g46ycnc06b13824-1255453586.tcb.qcloud.la/json/bber-list.json?sign=b3c786653041d66dba87dde5881d6ad7&t=1620366168"
    script(type='text/javascript', src='/js/custom/bber.js', data-pjax='')