extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  .recent-posts
    include includes/homeTop.pug     
    #archive
      .article-sort-title= _p('page.articles') + ' - ' + site.posts.length
      +articleSort(page.posts)
      include includes/pagination.pug

