extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
    include includes/hometop.pug
    .article-sort-title= _p('page.articles') + ' - ' + site.posts.length
    +articleSort(page.posts)
    include includes/pagination.pug

