extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts.category_ui   
      +postUI
      include includes/pagination.pug    
  else
    include ./includes/mixins/article-sort.pug
    #recent-posts.recent-posts
      include includes/homeTop.pug
      #category
        .article-sort-title= page.category
        +articleSort(page.posts)
        if(page.posts.length>9)
          include includes/pagination.pug