extends includes/layout.pug

block content
  if theme.tag_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts
      +postUI
      include includes/pagination.pug
  else
    include ./includes/mixins/article-sort.pug
    #tag
      include includes/homeTop.pug
      .article-sort-title= page.tag
      +articleSort(page.posts)
      if(page.posts.length>9)
        include includes/pagination.pug