- var pageTitle
- if (is_archive()) pageTitle = _p('page.archives')
- else if (is_tag()) pageTitle = _p('page.tag') + '：' + page.tag
- else if (is_category()) pageTitle = _p('page.category') + '：' + page.category
- else if (is_month()) pageTitle += '：' + page.month + '/' + page.year
- else if (is_year()) pageTitle += '：' + page.year
- else if (is_current('/404.html', [strict])) pageTitle = _p('error404.error_title')
- else pageTitle = page.title || theme.title || ''

div#page-name
  a#page-name-text(onclick='btf.scrollToDest(0,500)') #[=pageTitle]
