:root {
  --wds-white: #fff;
  --wds-black: #000;
  --wds-none: rgba(0, 0, 0, 0);
  --wds-gray: #999999;
  --wds-yellow: #ffc93e;
  --wds-main: #007AFF;
  --wds-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --wds-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --wds-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --wds-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --wds-shadow-pink: 0 8px 12px -3px #ee7d7936;
  --wds-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%)
}

::selection {
  background: var(--wds-blue);
  color: var(--wds-white)
}

[data-theme=light] {
  --wds-theme: #425AEF;
  --wds-blue: #425AEF;
  --wds-red: #D8213C;
  --wds-green: #008200;
  --wds-fontcolor: #363636;
  --wds-background: #f7f9fe;
  --wds-reverse: #000;
  --wds-maskbg: rgba(255, 255, 255, 0.6);
  --wds-hovertext: #5374ff;
  --wds-ahoverbg: #F7F7FA;
  --wds-lighttext: #ef794f;
  --wds-secondtext: rgba(60, 60, 67, 0.6);
  --wds-scrollbar: rgba(60, 60, 67, 0.4);
  --wds-card-btn-bg: #f1f2f2;
  --wds-post-blockquote-bg: #fafcff;
  --wds-post-tabs-bg: #f2f5f8;
  --wds-secondbg: #ededed;
  --wds-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --wds-card-bg: #fff;
  --wds-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --wds-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00)
}

[data-theme=dark] {
  --wds-theme: #0084FF;
  --wds-blue: #0084FF;
  --wds-red: #FF3842;
  --wds-green: #00FF00;
  --wds-fontcolor: #F7F7FA;
  --wds-background: #18171d;
  --wds-reverse: #fff;
  --wds-maskbg: rgba(0, 0, 0, 0.6);
  --wds-hovertext: #0A84FF;
  --wds-ahoverbg: #fff;
  --wds-lighttext: #f2b94b;
  --wds-secondtext: #a1a2b8;
  --wds-scrollbar: rgba(200, 200, 223, 0.4);
  --wds-card-btn-bg: #2e2d38;
  --wds-post-blockquote-bg: #000;
  --wds-post-tabs-bg: #121212;
  --wds-secondbg: #30343f;
  --wds-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --wds-card-bg: #1d1b26;
  --wds-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --wds-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0)
}

#page {
  min-height: calc(100vh - 464px)
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--wds-scrollbar);
  border-radius: 8px;
  cursor: pointer
}

::-webkit-scrollbar-thumb:hover {
  background: var(--wds-main);
  opacity: 1;
  display: block !important
}

::-webkit-scrollbar-track {
  background-color: var(--wds-none)
}

html {
  overflow-y: overlay
}

.layout.hide-aside {
  max-width: 1200px
}

#nav {
  flex-wrap: nowrap;
  justify-content: space-between
}

/* 修改菜单栏 */
#nav .menus_items .menus_item .menus_item_child {
  padding: 6px 8px 8px 8px;
  border-radius: 12px;
  background: var(--wds-card-bg);
  box-shadow: var(--wds-shadow-black)
}

#sidebar #sidebar-menus .menus_items .menus_item_child {
  margin-left: -1.1rem;
  display: block;
}

.site-page i.fa-chevron-down {
  display: none
}

#nav .menus_items .menus_item .menus_item_child li a:hover {
  background: var(--wds-main) !important;
  color: var(--wds-white) !important;
  margin: 0 auto
}

#nav .menus_items .menus_item {
  padding: 0 .4rem
}

#nav .menus_items .menus_item .menus_item_child li {
  display: inline-flex
}

#nav a {
  border-radius: 12px;
  color: var(--wds-white)
}

.nav-fixed #nav a {
  color: var(--wds-fontcolor)
}

#page-header.nav-fixed #nav {
  top: 0;
  transition: .2s;
  background: var(--wds-card-bg) !important;
  box-shadow: var(--wds-shadow-nav) !important
}

#page-header #nav {
  box-shadow: none;
  transition: .2s
}

#nav.show {
  transform: translate3d(0, 0, 0) !important;
  top: 0;
  transition: .2s;
  position: fixed;
  z-index: 91
}

#page-header.not-top-img #nav {
  background: 0 0;
  transition: .3s
}

#page-header.nav-fixed #nav #menus>div.menus_items {
  transition: .3s;
  margin-bottom: 4px
}

#page-header.not-top-img {
  margin-bottom: 0
}

#menus {
  margin-bottom: 4px
}

#page-header.no-top-img {
  margin-bottom: 0
}

.layout {
  padding: 1rem 15px
}

@media screen and (min-width: 900px) {
  #nav #blog_name {
    flex-wrap: nowrap;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center
  }

  #nav #page-name-text {
    display: inline;
    font-weight: 600;
    padding: 4px 8px;
    opacity: 0;
    transition: .1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    cursor: pointer;
    top: 0;
    font-size: .9rem
  }

  #nav #page-name-text:hover {
    color: var(--wds-white) !important;
    background: var(--wds-main)
  }

  #page-header.nav-fixed #nav #page-name-text {
    display: inline;
    opacity: 1;
    transition: .15s;
    top: 0;
  }

  #page-header.nav-fixed #nav div.menus_items {
    display: inline;
    opacity: 0;
    transition: .15s;
    transform: translateY(-60px)
  }

  #page-header.nav-fixed.nav-visible #nav #page-name-text {
    display: inline;
    opacity: 0;
    transition: .15s;
    top: 30px
  }

  #page-header.nav-fixed.nav-visible #nav div.menus_items {
    display: inline;
    opacity: 1;
    transition: .15s;
    transform: translateY(0)
  }

  #page-name {
    overflow: hidden;
    align-items: center;
    display: inline;
    border-radius: 12px;
    margin-left: 1rem
  }
}

@media screen and (max-width: 899px) {
  #nav #page-name {
    display: none !important
  }
}

#nav a {
  transition: .3s
}

#nav a:hover {
  color: var(--wds-white) !important;
  background: var(--wds-main);
  transition: .3s
}

.nav-fixed #nav #site-name i {
  color: var(--wds-fontcolor)
}

#nav #site-name:hover i {
  color: var(--wds-white)
}

a {
  color: var(--wds-fontcolor)
}

a:hover {
  color: var(--wds-hovertext)
}

hr {
  display: none
}

#nav .menus_items {
  position: absolute;
  width: 600px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto
}

#menus>div.menus_items>div>a {
  letter-spacing: .2rem;
  padding: .3rem .5rem .4rem .7rem;
  font-weight: bold;
}

#page-header.nav-fixed #nav #menus[style*="padding-right: 300px;"] .menus_items {
  transform: translateX(-150px)
}

#nav .site-page {
  text-shadow: .05rem .05rem .1rem transparent;
  border-radius: 8px
}

#nav .site-page {
  color: var(--wds-white)
}

.nav-fixed #nav .site-page {
  color: var(--wds-fontcolor)
}

.post-bg #nav #site-name {
  color: var(--wds-white);
  transition: 0s
}

#nav #site-name {
  text-shadow: .05rem .05rem .1rem transparent;
  color: var(--wds-fontcolor);
  padding: 0 .4rem;
  transition: .3s
}

#nav .menus_items .menus_item i.expand {
  display: none
}

#darkmode_navswitch {
  display: inline;
  position: relative;
  top: 1px
}

#darkmode_navswitch a i {
  font-size: .9rem
}

a.darkmode_switchbutton {
  padding: .2rem .5rem 0.3rem;
  cursor: pointer;
  margin: 0;
  color: var(--wds-fontcolor)
}

/* 本地搜索 */

#search-button>a>span {
  display: none
}

#local-search-tip {
  font-size: var(--global-font-size);
  margin: 10px 8px;
}

#search-mask {
  backdrop-filter: blur(3px);
  background: var(--wds-maskbg)
}

.search-dialog {
  border-radius: 12px !important;
  box-shadow: var(--wds-shadow-lightblack);
  background: var(--wds-card-bg)
}


/* 文章列表修改 */
.article-sort-title:before {
  display: none
}

.article-sort-title:after {
  display: none
}

.article-sort {
  border: none
}

.article-sort {
  margin-left: 0;
  padding-left: 0
}

.article-sort-title {
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0
}

.article-sort-item {
  margin: 0 0 1rem 0
}

.article-sort-item.year {
  font-size: .8rem;
  color: var(--wds-secondtext)
}

.article-sort-title {
  font-weight: 600;
  font-size: 2em
}

.article-sort-item-info {
  padding: 0 .8rem;
  display: flex;
  flex-direction: column
}

.article-sort-item-time {
  order: 1;
  margin-top: 4px;
  color: var(--wds-secondtext)
}

.article-sort-item-title {
  order: 0;
  font-weight: 600
}

.article-sort-item-title:hover {
  transform: translateX(0)
}

#recent-posts>.recent-post-item {
  background: var(--wds-card-bg);
  box-shadow: var(--wds-shadow-light2black);
  border-radius: 12px;
  height: 14.6em;
}

#recent-posts>.recent-post-item>.recent-post-info>.content {
  color: var(--wds-secondtext);
  font-size: .9em;
}

.layout>div:first-child:not(.recent-posts) {
  box-shadow: var(--wds-shadow-lightblack);
  padding: 1rem 2rem;
  border-radius: 12px;
  background: var(--wds-card-bg);
}

#aside-content .card-widget {
  box-shadow: var(--wds-shadow-lightblack);
  background: var(--wds-card-bg);
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--wds-white);
}

.not-top-img+.layout .aside-content .sticky_layout .card-recent-post {
  display: none;
}

/* 右下角按钮设置 */

#rightside {
  right: -40px;
}
#rightside #rightside-config-hide {
  transform: translate(40px, 0);
}
#rightside > div > button, #rightside > div > a {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 900px){
  #rightside #mobile-toc-button{
    display: none;
  }
}

/* 页码样式调整 */
#pagination .page-number {
  margin: 0 0.2rem;
  min-width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

/* 页面内链接样式 */
#article-container a {
  text-decoration: none;
  border-bottom: 2px solid var(--wds-lighttext);
  color: var(--wds-fontcolor);
  font-weight: 700;
}

#article-container a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--wds-none);
  color: var(--wds-hovertext);
  background: var(--wds-post-blockquote-bg);
  border-radius: 4px;
}

/* 菜单栏居中右边移动 */
#nav .menus_items .menus_item:nth-child(2) .menus_item_child {
  right: -140px;
}
