#bbTimeList.bbTimeList.container(onclick=`window.open('/essay/','_self')`)
    .bblogo(onclick="location='/essay/'")="随笔"
    #bbtalk.swiper-container
        #bber-talk.swiper-wrapper
    i.bber-gotobb.fas.fa-arrow-circle-right(onclick="location='/essay/'",title="查看全文")
.js-pjax
    script.
        var bbShortApiUrl = "https://626c-blog-6g46ycnc06b13824-1255453586.tcb.qcloud.la/json/bber.json?sign=95557d341d02d4f2bbbf53b9a602613e&t=1620366691"
    script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js',data-pjax='')
    script(src='/realwds/showbb_in_index.js',data-pjax='',defer='')