.hometop-group 
  .hometop-item
    a.hometop-button(href='/tags/精选/')
      span.hometop-button-text='必看精选'
      i.fas.fa-dove
  .hometop-item
    a.hometop-button(href='/archives/')
      span.hometop-button-text='往期文章'
      i.fas.fa-book-open
  .hometop-item
    a.hometop-button(href='/categories/')
      span.hometop-button-text='全部分类'
      i.fas.fa-th-large
  .hometop-item
    a.hometop-button(href='/tags/')
      span.hometop-button-text='全部标签'
      i.fas.fa-tags