.hometop-group 
  .hometop-item
    a.hometop-button(href='#')
      span.hometop-button-text='必看精选'
      i.fas.fa-dove
  .hometop-item
    a.hometop-button(href='#')
      span.hometop-button-text='热门文章'
      i.fas.fa-burn
  .hometop-item
    a.hometop-button(href='#')
      span.hometop-button-text='头脑风暴'
      i.fas.fa-dove
  .hometop-item
    a.hometop-button(href='#')
      span.hometop-button-text='奇技淫巧'
      i.fas.fa-burn